@charset "utf-8";

form {
    width: 500px;
    margin: auto;
}

input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #ffffffb0;
    line-height: 1;
}

input:not([type="image"]):hover,
textarea:hover {
    background-color: #ddddddb0;
}

legend {
    color: #888;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border-color: #cecece;
    margin: 20px 0;
    padding: 25px 10px;
}

#sexo {
    width: 150px;
    margin: 20px;
    padding: 2px 10px 10px 10px;
}

label[for="cNum"] {
    margin-left: 15px;
}

#usuario {
    background: url('../assets/imgs/icone-contato.png') no-repeat 95% 95%;
}

#endereco {
    background: url('../assets/imgs/icone-endereco.png') no-repeat 95% 95%;
}

#mensagem {
    background: url('../assets/imgs/icone-mensagem.png') no-repeat 95% 95%;
}

#pedido {
    background: url('../assets/imgs/icone-pagamento.png') no-repeat 95% 95%;
}

.separator {
    margin: 15px 0;
}

#cUrg {
    margin: 0;
}