@charset "utf-8";

#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
    list-style: none;
}

#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #fff;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: background-size .4s ease-in, transform .4s ease-in;
}

#album-fotos li:hover {
    transform: scale(1.35);
}

#album-fotos li span {
    opacity: 0;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 370px;
    padding: 5px;
}

#album-fotos li:hover span {
    opacity: 1;
}

#album-fotos #foto01 {
    background-image: url('../assets/imgs/galeria-01.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-color: #fff;
}

#album-fotos #foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#album-fotos #foto02 {
    background-image: url('../assets/imgs/galeria-02.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-color: #fff;
}

#album-fotos #foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#album-fotos #foto03 {
    background-image: url('../assets/imgs/galeria-03.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-color: #fff;
}

#album-fotos #foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#album-fotos #foto04 {
    background-image: url('../assets/imgs/galeria-04.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-color: #fff;
}

#album-fotos #foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#album-fotos #foto05 {
    background-image: url('../assets/imgs/galeria-05.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-color: #fff;
}

#album-fotos #foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#album-fotos #foto06 {
    background-image: url('../assets/imgs/galeria-06.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-color: #fff;
}

#album-fotos #foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}