@charset "utf-8";

#conteudo {
    width: 100%;
    margin: auto;
}

#frame-spec {
    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;
}

#frame-spec::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}