@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url('../assets/fonts/bubblegum-sans-regular.otf') format('opentype');
}

* {
    line-height: 1.25;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


/* Textos */
p {
    text-align: justify;
    text-indent: 50px;
}

.direita {
    text-align: right;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Interface */
#interface {
    width: 940px;
    background-color: #ffffff;
    margin: -20px auto 0 auto;
    box-shadow: 0 0 10px #00000080;
    padding: 20px 20px 1px 30px;
    position: relative;
}


/* Cabeçalho */
#cabecalho {
    border-bottom: 1px solid #606060;
    height: 150px;
    background: url("../assets/imgs/glass-logo-peq.jpg") no-repeat 0 80px;
}

#cabecalho h1 {
    font-family: 'FonteLogo', Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0;
    margin-bottom: 0;
    font-weight: 500;
    text-indent: 8px;
    letter-spacing: .5px;
}

#cabecalho h2 {
    font-family: "Titillium Web", sans-serif;
    color: #888888;
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    font-weight: 100;
    text-indent: 8px;
    letter-spacing: 0.5px;
}


/* Icone */
#icone {
    position: absolute;
    right: -37px;
    top: 96px;
}


/* Menu */
#menu {
    display: block;
}

#menu h1 {
    display: none;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 40px;
}

#menu li {
    display: inline-flex;
}

#menu a {
    color: #000000;
    text-decoration: none;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color .5s ease, color .3s ease;
}

#menu li:hover a {
    color: #ffffff;
    background-color: #606060;
}


/* Corpo */
#corpo {
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
    padding-top: 5px;
}

#corpo-full {
    display: block;
    width: 100%;
    padding-top: 5px;
}

#noticia-principal h2 {
    font-size: 16px;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 10px;
    margin: 10px 0;
    font-weight: 900;
    ;
}

#cabecalho-artigo h1 {
    font-family: 'FonteLogo', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #606060;
    margin: 0;
    letter-spacing: .5px;
}

#cabecalho-artigo h2 {
    font-size: 14px;
    color: #cecece;
    margin: 0;
    background-color: #fff;
    padding: 0;
    font-weight: 600;
}

#cabecalho-artigo h3 {
    font-size: 13px;
    color: #cecece;
    margin-bottom: 15px;
}

#cabecalho-artigo h4 {
    font-size: 10px;
    color: #888888;
    font-style: italic;
}

/* Imagens com legendas */
.foto-legenda {
    border: 8px solid #ffffff;
    box-shadow: 1px 1px 4px #000000;
    position: relative;
}

.foto-legenda img {
    width: 100%;
    height: 100%;
}

.foto-legenda figcaption {
    position: absolute;
    top: 0;
    background-color: #0000006e;
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity .6s ease;
}

.foto-legenda:hover figcaption {
    opacity: 1;
}


/* Tabela */
#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

#tabelaspec caption {
    color: #888888;
    font-weight: 900;
    font-size: 17px;
}

#tabelaspec caption span {
    display: block;
    float: right;
    color: #606060;
    font-size: 10px;
    margin-top: 8px;
    font-weight: 100;
}

#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    vertical-align: top;
}

#tabelaspec .ce {
    text-align: right;
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: 700;
}

#tabelaspec .cd {
    text-align: left;
    background-color: #dddddd;
}

#video01,
#video02 {
    width: 100%;
}


/* Lateral  */
#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

#lateral h1 {
    font-family: 'FonteLogo', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #606060;
    margin-top: 20px;
    letter-spacing: .5px;
}

#lateral h2 {
    background-color: #606060;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    font-weight: 900;
    margin-bottom: 0;
}


/* Rodapé */
#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

#rodape p {
    text-align: center;
    font-size: 12px;
    color: #242424;
    padding: 10px 0;
    text-indent: 0;
    font-weight: 600;
}